ion-item-sliding{
    overflow: visible;
}
ion-item-sliding .item{
    overflow: visible;
}
ion-list{
    contain: unset;
}
.mainLocationCardShadow {
    background: transparent;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .4) 0px 4px 10px;   
}

.oldLocationCardShadow {
    background: transparent;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, .4) 0px 4px 10px;    
}

.mainContainer{  
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

    .mainLocationContainer{
        margin-top: 1rem;
        margin-bottom: 3.5rem;
    }

    .mainLocationContainerTitle{
        margin-bottom: 1.5rem;
        text-align: left;
        width: 300px;
    }
        .mainLocationContainerTitle > h1{
            font-weight: bolder;
        }

.subLocationContainerTitle{
    text-align: left;
    width: 300px;
    margin-bottom: .75rem;
}
    .subLocationContainerTitle > h3{
        font-weight: default;
        margin:0;
    }

.saveBtn{
    bottom: 12%;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, .4) 0px 4px 10px;    
    height: 3.5rem;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}
    .saveBtnDisabled{
        opacity: 1;
    }

    .spinner{
        margin-left: 5px;
    }


    .list-md {
        background: none;
    }

    ion-item {
        --background: none;
        --border-color: transparent;
        opacity:1;
    }


.emptyStateContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    height: 100vh;
    transform: translateY(-2%);
}

.emptyStateContainer > img {
    margin-top: 2rem;
	max-width: 40%;
}